/* ==== RESETS ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rotis-normal;
}
@font-face {
  font-family: rotis-normal;
  src: url(/assets/Fonts/RotisSansSerifStd.otf);
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-transform: uppercase;
}
i {
  margin-right: 6px;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: #fff;
  text-transform: capitalize;
  text-align: center;
  color: #1d9798;
  height: 2.5rem;
  margin: auto 0;
  width: 8rem;
  border-radius: 3px;

  border: none;
  outline: none;
  cursor: pointer;
}
select {
  color: #1d9798;
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
}

.title {
  h1 {
    line-height: 2.1rem;
  }
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
$main-color: #1d9798;
$sec-color: #f1b61a;
$text-color: #fff;
$font-wieghts: (
  'regular': 400,
  'meduim': 600,
  'bold': 800,
);

.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
  }
}

//HEADER
.social-bar {
  .socials {
    margin-left: 4rem;
  }
  color: #fff;
  padding: 2px;
  text-transform: capitalize;
  background-color: $main-color;
  i {
    color: #fff;
  }
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  margin-left: 5.5rem;
  width: 8rem;
  padding: 5px;
}

.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 1rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: $main-color;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: $sec-color;
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: $main-color;
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}

.search {
  cursor: pointer;
  padding: 5px;
  color: #fff;
  background-color: #f1b61a;
}
.banner {
  color: #fff;
  background: url(/assets/Images/Intro/image01.jpg) no-repeat center center;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  .banner-text {
    h1:last-child {
      font-weight: bolder;
    }
    h1 {
      line-height: 1.5rem;
    }
    position: absolute;
    right: 5rem;
    bottom: 5rem;
  }
}

//NEWS

.news {
  color: #fff;
  position: relative;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  .borderTop {
    border-top: 5px solid $sec-color;
    position: absolute;
    right: 85%;
    left: 0;
  }
  .cards-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  .cardd {
    width: 35%;

    img {
      width: 100%;
    }
    p {
      color: rgb(222, 222, 222);
      text-transform: capitalize;
    }
  }
}
.aside {
  position: relative;
  height: 100%;
  h1 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    span {
      font-weight: 900;
    }
  }
}
//RESEARCH
.research {
  i {
    color: #f1b61a;
  }
  padding: 20px;
  background-color: rgb(243, 243, 243);
  .title {
    h1 {
      color: $main-color;
    }
    button {
      background-color: #f1b61a;
      color: #fff;
    }
  }
}
.research-cards {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

  .card {
    height: 25vh;
    display: grid;
    grid-template-columns: 50% 50%;
    .card-text {
      color: #1d9798;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding-left: 10px;
    }
  }
  img {
    max-width: 100%;
    height: 100%;
  }
}

//FACILITIES

.facilities {
  i {
    color: #f1b61a;
  }
  .borderTop {
    border-top: 5px solid $sec-color;
    position: absolute;
    right: 75%;
    left: 0;
  }
  color: #fff;
  width: 100%;
  background: url(/assets/Images/facilities/BG.jpg);
  .facilities-body {
    display: flex;
    justify-content: space-between;
    .body-text {
      button {
        margin: 3rem auto;
        color: #fff;
        background-color: #f1b61a;
      }
    }
    .body-image {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 50%;
      p {
        margin: 10px 10px;
      }
      img {
        width: 20rem;
      }
    }
  }
}

//PUBLICATIONS

.publication {
  i {
    color: #f1b61a;
  }
  position: relative;
  .borderTop {
    border-top: 5px solid $sec-color;
    position: absolute;
    right: 75%;
    left: 0;
    top: 0;
  }
  color: #1d9798;
  padding: 20px;
  button {
    background-color: #f1b61a;
    color: #fff;
  }
  .cards {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 2.5rem;
    text-transform: capitalize;
    p {
      padding: 5px;
    }
    p:nth-child(2) {
      font-weight: bolder;
    }
  }
  img {
    width: 100%;
  }
}

//BIO SECTION

.bio {
  .title {
    text-transform: none;
  }
  color: #fff;
  position: relative;
  .borderTop {
    border-top: 5px solid $sec-color;
    position: absolute;
    right: 85%;
    left: 0;
    top: 0;
  }
  padding: 30px 0;
  background: url(/assets/Images/Bio/Bg.jpg);
  .stories {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    gap: 3rem;
    .story-text {
      padding: 10px;
      margin-bottom: 10px;
      text-align: start;
      background: rgba(169, 169, 169, 0.26);
      border-radius: 5px;
      backdrop-filter: blur(1px);
      position: relative;
    }
    .story-text::after,
    .story-text::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
    }

    .story-text::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid rgba(169, 169, 169, 0.26);
      top: 100%;
      left: 9%;
    }
    .story-image {
      display: flex;
      align-items: center;

      p {
        text-transform: capitalize;

        margin: auto 20px;
      }
    }
    img {
      margin-top: 10px;
      border-radius: 50%;
      width: 6rem;
    }
  }
}
// MEDIA QUERIES
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: $sec-color;
  }
}
@media screen and (max-width: 768px) {
  .news {
    display: flex;
    flex-direction: column;
    .cards-body {
      display: grid;
      grid-template-columns: 100%;
      align-items: center;
    }
    .cardd {
      width: 90%;
    }
    .aside {
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .research-cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .facilities-body {
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    .body-image {
      display: flex;
      margin: auto 70px;
      width: 100%;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 768px) {
  .publication {
    .cards {
      display: flex;
      flex-wrap: wrap;
      .card {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
